{% load i18n %}{% autoescape off %}
{% blocktranslate %}Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe de votre compte sur Invoice Website.{% endblocktranslate %}

{% translate "Veuillez vous rendre sur la page ci-dessous et choisir un nouveau mot de passe :" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Si vous n'avez pas demandé de réinitialisation, vous pouvez ignorer cet e-mail." %}

{% translate "L'équipe Invoice Website" %}
{% endautoescape %}